{% extends "umsteigen/base.html" %}

{% block title %}Umsteigen bei {{ station }} bei der Berliner BVG{% endblock %}
{% block titleh1 %}Umsteigen {{ station }}{% endblock %}
{% block metadescription %}In welchen Waggon muss ich bei der Berliner BVG einsteigen um bei {{ station.name }} am besten umzusteigen?!{% endblock %}

{% block content %}
{% if thanks and thanks != 'adm' %}
<div class="alert alert-success">
     Danke für Deinen Hinweis!
</div>
{% endif %}

{% if not station.change_station %}

<div class="col-12 my-2 mb-2 leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" id="map" style="height: 300px; outline: none;" tabindex="0">
</div>

<img src="https://tile.thunderforest.com/static/transport/{{ station.lon }},{{ station.lat }},16/200x150@2x.png?apikey=99ba2838a14043cb8cec4b20a8c809f3" alt="map tile">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script>
// initialize the map on the "map" div with a given center and zoom
var map = new L.Map('map', {
  center: new L.LatLng(51.46, -0.205),
  zoom: 15
});
var tileUrl = "https://tile.thunderforest.com/static/transport/{{ station.lon }},{{ station.lat }},16/200x150@2x.png?apikey=99ba2838a14043cb8cec4b20a8c809f3", layer = new L.TileLayer(tileUrl, {maxZoom: 18});
map.addLayer(layer);
</script>
{% endif %}

{% if station.change_station %}
<p>
In welchen Waggon muss ich bei der BVG Berlin einsteigen um bei {{ station.name }}
<nobr>
{% for line in station.lines.all %}<a href="{% url 'line_detail' line.id %}"><span class="{{ line.css }}">{{ line.name }}</span></a>{% endfor %}
</nobr>
am besten umzusteigen?!
</p>


{% if change_list %}
<ul class="list-group">
    {% for change in change_list %}
	<li class="list-group-item">
	Ich fahre 
	{% for direction in change.from_direction.all %}
	<!--<nobr><a href="{% url 'line_detail' direction.line.id %}"><span class="{{ direction.line.css }}">{{ direction.line.name }}</span>{{ direction.name }}</a>{% if not forloop.last %}, {% endif %}</nobr>-->
	<nobr><span class="{{ direction.line.css }}">{{ direction.line.name }}</span>{% if direction.name != '(alle Richtungen)' %}nach {{ direction.name }}{% endif %}{% if not forloop.last %}, {% endif %}</nobr>
	{% endfor %}
	und will bei {{ station.name }}  umsteigen nach
	{% for direction in change.to_direction.all %}
	<nobr><span class="{{ direction.line.css }}">{{ direction.line.name }}</span>{% if direction.name != '(alle Richtungen)' %}nach {{ direction.name }}{% endif %}{% if not forloop.last %}, {% endif %}</nobr>
	<!--<nobr><a href="{% url 'line_detail' direction.line.id %}"><span class="{{ direction.line.css }}">{{ direction.line.name }}</span>{{ direction.name }}</a>{% if not forloop.last %}, {% endif %}</nobr>-->
	{% endfor %}
	<br>
        {% include change.waggon_template with directions=change.direction_names %}
	{% if authenticated %}
		<br><a target="_blank" href="https://umsteigen-in-berlin.de/admin/UmsteigenApp/change/{{ change.id }}/change/"><span class="badge">Edit Change</span></a>
	{% endif %}
	</li>
    {% endfor %}
</ul>
<p>
Zuletzt aktualisiert: {{ station.last_modified|date:'Y-m-d, H:i' }}
</p>
{% else %}
<div class="alert alert-info" role="alert">Keine Daten vorhanden.</div>
{% endif %}

{% if thanks_list %} 
    <p>&#x1f44f; Dank an 
        {% for thankyou in thanks_list %}
            {{ thankyou.name }}
            {% if not forloop.last %} &amp; {% endif %}
        {% endfor %}
    &#x1f44f;</p>
{% endif %}

{% if station.complete %} 
<p>
Diese Station ist fertiggestellt. Wenn Du einen Fehler gefunden hast, <a href="{% url 'contact' %}">bitte melden</a>.
</p>
{% else %}
<p>
<a class="btn btn-default" href="{% url 'station_add_change' station.id %}" role="button">Neue Umsteige-Informationen eingeben</a>
</p>
{% endif %}

<br>
{% if station.bvg_details %}
<a class="btn btn-default" href="{{ station.bvg_details }}" target="_blank" role="button">Details zu {{ station.name }} bei der BVG <img src="/static/umsteigen/extlink.png" alt="externer Link" border="0"></a>
{% endif %}
{% if station.db_station_name %}
&nbsp;
<a class="btn btn-default" href="https://www.bahnhof.de/{{ station.db_station_name }}/abfahrt" target="_blank" role="button">Aktuelle Abfahrten bei {{ station.name }} bei der DB <img src="/static/umsteigen/extlink.png" alt="externer Link" border="0"></a>
{% endif %}
{% if station.bvg_pdf %}
&nbsp;
<a class="btn btn-default" href="{{ station.bvg_pdf }}" target="_blank" role="button">{{ station.name }} Plan von der BVG <img src="/static/umsteigen/extlink.png" alt="externer Link" border="0"></a>
{% endif %}
{% if station.schema_pic %}
&nbsp;
<a class="btn btn-default" href="{{ station.schema_pic }}" target="_blank" role="button">Schematische Darstellung* von {{ station.name }} <img src="/static/umsteigen/extlink.png" alt="externer Link" border="0"></a>
{% endif %}

{% if station.schema_pic %}
<p>* Schematische Darstellung von <a href="http://stations.albertguillaumes.cat/" target="_blank">Albert Guillaumes Marcer <img src="/static/umsteigen/extlink.png" alt="externer Link" border="0"></a></p>
{% endif %}

{% else %}
<p>An der Station {{ station.name }} 
<nobr>
{% for line in station.lines.all %}<a href="{% url 'line_detail' line.id %}"><span class="{{ line.css }}">{{ line.name }}</span></a>{% endfor %}
</nobr>
ist kein Umsteigen möglich.</p>
{% endif %}

{% if authenticated %}
	<p><a target="_blank" href="https://umsteigen-in-berlin.de/admin/UmsteigenApp/station/{{ station.id }}/change/"><span class="badge">Edit Station</span></a></p>
{% endif %}
{% endblock content %}
